
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$my-balanced:                     #33cd5f !default;
$my-energized:                    #ffc900 !default;
$my-assertive:                    #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;

$my-drop-color : rgba(0, 255, 0, 0.5);